version: "3.8"

services:
  postgres:
    image: postgres:alpine
    container_name: ts_api_scaffold_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ts-api-scaffold
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
